/* Center Screen */
.screen {
    width: 100vw;
    height: 100vh;
    border: solid black;
    border-radius: 0 0 0 17%;
    display: grid;
    grid-template-rows: 10% 72% 18%;
    background-color: white;
}

.top-screen-lights {
    width: 50%;
    margin-top: 2px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.mini-light {
    border: solid black 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 7px;
}

.red {
    background-color: #ff0000;
}

#main-screen {
    height: 100%;
    width: 80%;
    justify-self: center;
    background-color: var(--main-screen-bg-color);
    border: solid black 2px;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pokedex {
    padding: 40px;
    margin: 0 auto;
}

/* Entre pokedex e pokedex-screen fica a parte cinza com botões da pokedex */

#pokedex-screen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    display: inline-block;
    /* width: 200px;
    height: 200px; */
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;

    list-style: none;
    padding: 40px;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Fim da listagem */

.bottom-screen-lights {
    display: flex;
    margin-top: 5px;
    width: 75%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}

.bottom-screen-lights .small-light {
    border: solid black 2px;
    width: 12px;
    height: 12px;
}

.bottom-screen-lights .dot {
    height: 4px;
    width: 4px;
    top: 2.5px;
    left: 2px;
}

.dot {
    height: 5px;
    width: 5px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
  }

.line {
    width: 18px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

/* Center Screen End */