<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
</head>

<body>
    <!-- Center Screen -->
    <div class="screen-container">
        <div class="screen">
            <div class="top-screen-lights">
                <div class="custom-select">
                    <ng-select [items]="geracoes" bindLabel="name" bindValue="name" [(ngModel)]=nameGeracao
                    placeholder="Todas geracoes" (change)="onChangeIdGeracao()">
                    >
                </ng-select>
                </div>
        
                <div class="custom-select">
                    <ng-select [items]="ataques" bindLabel="name" bindValue="name" [(ngModel)]=nameAtaque
                    placeholder="Todos ataques" (change)="onChangeIdAtaque()">
                    >
                </ng-select>

                </div>
        
                <div class="custom-select">
                    <ng-select [items]="tiposAtaque" bindLabel="name" bindValue="name" [(ngModel)]=namesTiposAtaque
                        placeholder="Todos os tipos" [multiple]="true" (change)="onChangeTipos()">
                        >
                    </ng-select>

                </div>
        
        
                <div class="mini-light red"></div>
                <div class="mini-light red"></div>
              </div>
            <div id="main-screen">

                <div class="pokedex">
                    <!-- Entre pokedex e pokedex-screen fica a parte cinza com botões da pokedex -->
                
                    <!-- <ng-select [items]="geracoes" bindLabel="name" bindValue="name" [(ngModel)]=nameGeracao
                        placeholder="Todas geracoes" (change)="onChangeIdGeracao()">
                        >
                    </ng-select>

                    <ng-select [items]="ataques" bindLabel="name" bindValue="name" [(ngModel)]=nameAtaque
                        placeholder="Todos ataques" (change)="onChangeIdAtaque()">
                        >
                    </ng-select>

                    <ng-select [items]="tiposAtaque" bindLabel="name" bindValue="name" [(ngModel)]=namesTiposAtaque
                        placeholder="Todos os tipos" [multiple]="true" (change)="onChangeTipos()">
                        >
                    </ng-select> -->

                    <div id="pokedex-screen">
                        <div class="card" *ngFor="let poke of pokemons">
                            <img class="card-image" [src]="poke.image" />
                            <h2 class="card-title">#{{ poke.id }} - {{ poke.name }}</h2>
                            <p class="card-subtitle">Type: {{ poke.type }}</p>
                        </div>
                    </div>
                    <!-- Fim da listagem -->
                </div>

            </div>

            <div class="bottom-screen-lights">
                <div class="small-light red">
                    <div class="dot light-red"></div>
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Center Screen End -->

</body>

</html>