<body>
    <!-- Center Screen -->
    <div class="screen-container">
        <div class="screen">
            <div class="top-screen-lights">

                <li class="tg-list-item">
                    <span class="tg-label">Pokémons</span>
                    <input class="tgl tgl-flat" id="cb4" type="checkbox" (change)="mudaExibicao()"/>
                    <label class="tgl-btn" for="cb4"></label>
                    <span class="tg-label">Localizações</span>
                </li>

                <div class="custom-select" *ngIf="exibePokemons">
                    <ng-select [items]="geracoes" bindLabel="name" bindValue="name" [(ngModel)]=nameGeracao
                        (change)="onChangeIdGeracao()">
                        >
                    </ng-select>
                </div>

                <div class="custom-select">
                    <ng-select [items]="ataques" bindLabel="name" bindValue="name" [(ngModel)]=nameAtaque
                        (change)="onChangeIdAtaque()">
                        >
                    </ng-select>

                </div>

                <div class="custom-select" *ngIf="exibePokemons">
                    <ng-select [items]="tiposAtaque" bindLabel="name" bindValue="name" [(ngModel)]=namesTiposAtaque
                        [multiple]="true" (change)="onChangeTipos()">
                        >
                    </ng-select>

                </div>


                <div class="mini-light red"></div>
                <div class="mini-light red"></div>
            </div>
            <div id="main-screen">

                <div class="pokedex">
                    <!-- Entre pokedex e pokedex-screen fica a parte cinza com botões da pokedex -->

                    <!-- <ng-select [items]="geracoes" bindLabel="name" bindValue="name" [(ngModel)]=nameGeracao
                        placeholder="Todas geracoes" (change)="onChangeIdGeracao()">
                        >
                    </ng-select>

                    <ng-select [items]="ataques" bindLabel="name" bindValue="name" [(ngModel)]=nameAtaque
                        placeholder="Todos ataques" (change)="onChangeIdAtaque()">
                        >
                    </ng-select>

                    <ng-select [items]="tiposAtaque" bindLabel="name" bindValue="name" [(ngModel)]=namesTiposAtaque
                        placeholder="Todos os tipos" [multiple]="true" (change)="onChangeTipos()">
                        >
                    </ng-select> -->

                    <div id="pokedex-screen" *ngIf="exibePokemons">
                        <div class="card" *ngFor="let poke of pokemons">
                            <img class="card-image" [src]="poke.image" />
                            <h2 class="card-title">#{{ poke.id }} - {{ poke.name }}</h2>
                            <p class="card-subtitle">Type: {{ poke.type }}</p>
                        </div>
                    </div>

                    <div id="pokedex-screen" *ngIf="!exibePokemons">
                        <div class="card" *ngFor="let local of locations">
                            <h2 class="card-title">#{{ local.id }} - {{ local.name }}</h2>
                            <p class="card-subtitle">Tag: {{ local.tag }}</p>
                        </div>
                    </div>
                    <!-- Fim da listagem -->
                </div>

            </div>

            <div class="bottom-screen-lights">
                <div class="small-light red">
                    <div class="dot light-red"></div>
                </div>
                <div class="pag-button-container">
                    <button class="pag-button left" (click)="paginaAnterior()"></button>
                    <button class="pag-button right" (click)="proximaPagina()"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Center Screen End -->

</body>